@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Srisakdi:wght@400;700&display=swap');

.srisakdi-regular {
  font-family: "Srisakdi", system-ui;
  font-weight: 400;
  font-style: normal;
}

.srisakdi-bold {
  font-family: "Srisakdi", system-ui;
  font-weight: 700;
  font-style: normal;
}
